.feed {
    width: 100%;
    background-color: #202124;
    color: aliceblue;

    .tabs-border {
        height: 2px;
        width: 100%;
        background-color: lightgrey;
    }

    .tabs-container {
        padding: 2rem 0 1rem 10rem;
        display: flex;
        gap: 1.2rem;


        .tab {
            display: flex;
            align-items: center;
            gap: 0.3rem;

            .tab-names {
                font-size: 14px;
                font-weight: 450;
                color: #969BA1;
            }
        }
    }
}