.single_search_container {
    // background-color: #202124;

    .single_search_heading {
        font: 20px arial, sans-serif;
        margin: 18px 0px 3px;
        padding: 5px 0px 0px;
        color: #BAB4F8;
    }

    .single_search_description {
        font: 14px arial, sans-serif;
        color: #BDC1C6;
    }
}