.footer-container {
    .footer-container-para {
        border-style: solid;
        border-width: 1px;
        border-color: #494c4f;
        padding: 1rem;
        font-size: 20px;
        color: #dadce0;
        text-align: center;
    }
}